@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Urbanist", serif;
  font-size: 16px; /* Adjust as per your needs */
  line-height: 1.5; /* For better readability */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader-circle {
  width: 64px;
  height: 64px;
  border: 8px solid rgba(0, 0, 255, 0.3); /* Light blue */
  border-top-color: #3b82f6; /* Blue for top border */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-message {
  margin-top: 16px;
  font-size: 1.25rem;
  color: #555;
  font-weight: 600;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.8s infinite;
}

.loader .loading-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid yellow;
  border-radius: 50%;
  border-top: 3px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.test-filter {
  -webkit-appearance: none;
  color: #B6B6B6;
  background-color: transparent;
  cursor: pointer;
}